*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; 
    background: none;        /* Elimina el fondo */
    border: none;            /* Elimina el borde */
    padding: 0;              /* Elimina el padding por defecto */
    font: inherit;           /* Hereda la fuente del texto circundante */
    color: inherit;          /* Hereda el color del texto circundante */
    cursor: pointer; 
}
.container{
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: black;
    color: white;
}
.nav{
    width: 96%;
    padding: 0% 2%;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    font-size: 50px;
}
.enlaces{
    width: 60%;
    height: 100%;
}
ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    align-items: center;
}
.login{
    background-color: rgb(40, 152, 197);
    padding: 10px;
    border-radius: 8px;
}

